<!DOCTYPE html>
<html>
<head>
    <title>cgi-bin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>cgi-bin</h1>
<p>Try another page</p>
<p><%= body %></p>
</body>
</html>
